@model IEnumerable<Parcel_Delivery_System.Models.Parcel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Parcel Management</h1>

<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="searchString" class="form-control"
               placeholder="Search Tracking, Sender or Receiver..." />
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-action="Index" class="btn btn-secondary">Reset</a>
    </div>
</form>

@if (!Model.Any())
{
    <div class="alert alert-danger">
        No parcels found.
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverName)
            </td>
                <td>
                    <span class="badge bg-warning">
                        @item.Status
                    </span>
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
